set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location r_Switch_1_THRU_LUT4_0 1 11 6 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[4] 2 9 3 #SB_LUT4
set_location debounce_Inst.r_counter_RNIOQBC1[8] 1 9 2 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNO_4 1 8 6 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[12] 2 10 3 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_8_c 2 9 7 #SB_CARRY
set_location debounce_Inst.r_counter[13] 2 10 4 #SB_DFFSR
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m19 1 13 6 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[1] 2 8 7 #SB_LUT4
set_location debounce_Inst.r_counter[2] 2 9 1 #SB_DFFSR
set_location debounce_Inst.r_counter_RNO[8] 2 9 7 #SB_LUT4
set_location debounce_Inst.r_counter[9] 2 10 0 #SB_DFFSR
set_location r_counter[2] 1 11 5 #SB_DFF
set_location debounce_Inst.r_counter_2_cry_7_c 2 9 6 #SB_CARRY
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m14 2 14 2 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNO_0 1 8 4 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNO 1 8 5 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[16] 2 10 7 #SB_LUT4
set_location debounce_Inst.r_counter[7] 2 9 6 #SB_DFFSR
set_location debounce_Inst.r_counter[17] 2 11 0 #SB_DFFSR
set_location debounce_Inst.r_counter_RNO[5] 2 9 4 #SB_LUT4
set_location debounce_Inst.r_counter_RNIQVN01[4] 1 9 3 #SB_LUT4
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m5 1 14 5 #SB_LUT4
set_location r_counter_RNO[0] 1 11 7 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNO_5 1 9 6 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNI1M9J5 1 9 5 #SB_LUT4
set_location debounce_Inst.r_filtered_data 1 8 5 #SB_DFF
set_location debounce_Inst.r_counter_RNO[11] 2 10 2 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_4_c 2 9 3 #SB_CARRY
set_location debounce_Inst.r_counter[12] 2 10 3 #SB_DFFSR
set_location r_counter[1] 1 12 0 #SB_DFF
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m18 1 13 5 #SB_LUT4
set_location debounce_Inst.r_counter[3] 2 9 2 #SB_DFFSR
set_location debounce_Inst.r_counter_2_cry_5_c 2 9 4 #SB_CARRY
set_location debounce_Inst.r_counter_2_cry_15_c 2 10 6 #SB_CARRY
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m11 2 14 5 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[9] 2 10 0 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[13] 2 10 4 #SB_LUT4
set_location debounce_Inst.r_counter_RNIUTVN1[17] 1 10 0 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_14_c 2 10 5 #SB_CARRY
set_location debounce_Inst.r_counter[10] 2 10 1 #SB_DFFSR
set_location r_counter[3] 1 12 4 #SB_DFF
set_location debounce_Inst.r_counter_RNO[0] 1 10 6 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_3_c 2 9 2 #SB_CARRY
set_location debounce_Inst.r_counter[1] 2 8 7 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location debounce_Inst.r_filtered_data_RNO_1 1 8 7 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[15] 2 10 6 #SB_LUT4
set_location debounce_Inst.r_counter[8] 2 9 7 #SB_DFFSR
set_location debounce_Inst.r_counter[16] 2 10 7 #SB_DFFSR
set_location r_counter_RNO[3] 1 12 4 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[2] 2 9 1 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_11_c 2 10 2 #SB_CARRY
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.CO2 1 12 3 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNO_3 1 9 1 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[17] 2 11 0 #SB_LUT4
set_location debounce_Inst.r_counter[6] 2 9 5 #SB_DFFSR
set_location debounce_Inst.r_counter_2_cry_16_c 2 10 7 #SB_CARRY
set_location debounce_Inst.r_counter[14] 2 10 5 #SB_DFFSR
set_location r_counter_RNO[1] 1 12 0 #SB_LUT4
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.r_counter15 1 11 4 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[10] 2 10 1 #SB_LUT4
set_location debounce_Inst.r_counter[4] 2 9 3 #SB_DFFSR
set_location debounce_Inst.r_counter_2_cry_1_c 2 9 0 #SB_CARRY
set_location debounce_Inst.r_counter_RNO[6] 2 9 5 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_9_c 2 10 0 #SB_CARRY
set_location debounce_Inst.r_counter_2_cry_10_c 2 10 1 #SB_CARRY
set_location r_counter[0] 1 11 7 #SB_DFF
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.r_counter11 1 12 2 #SB_LUT4
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m9 1 14 6 #SB_LUT4
set_location disp_seg_Inst.r_Hex_Encoding_6_0_.m16 2 14 6 #SB_LUT4
set_location debounce_Inst.r_counter_RNO[14] 2 10 5 #SB_LUT4
set_location debounce_Inst.r_counter_RNIBJ393[12] 1 9 4 #SB_LUT4
set_location debounce_Inst.r_counter[11] 2 10 2 #SB_DFFSR
set_location debounce_Inst.r_counter_RNO[3] 2 9 2 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_6_c 2 9 5 #SB_CARRY
set_location debounce_Inst.r_counter[0] 1 10 6 #SB_DFFSR
set_location r_Switch_1 1 11 6 #SB_DFF
set_location debounce_Inst.r_counter_2_cry_12_c 2 10 3 #SB_CARRY
set_location r_counter_RNO[2] 1 11 5 #SB_LUT4
set_location debounce_Inst.r_filtered_data_RNO_2 1 8 3 #SB_LUT4
set_location debounce_Inst.r_counter[5] 2 9 4 #SB_DFFSR
set_location debounce_Inst.r_counter_2_cry_2_c 2 9 1 #SB_CARRY
set_location debounce_Inst.r_counter[15] 2 10 6 #SB_DFFSR
set_location debounce_Inst.r_counter_RNO[7] 2 9 6 #SB_LUT4
set_location debounce_Inst.r_counter_2_cry_13_c 2 10 4 #SB_CARRY
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io i_Switch_1 53
set_io o_Segment1_F 1
set_io o_Segment1_D 91
set_io o_Segment1_B 4
set_io i_Clk 15
set_io o_Segment1_E 90
set_io o_Segment1_A 3
